# Φάκελοι συστήματος
.venv/
env/
__pycache__/
.DS_Store

# Αρχεία με κωδικούς ή ρυθμίσεις
.env
*.secret

# Το δικό σου αρχείο δεδομένων (αν δεν θέλεις να ανεβαίνει το csv κάθε φορά)
stops.csv

# Logs
*.log